{% extends 'HOME/base.html' %}

{% block TITULO %}
    <h1>Crear Cilindro</h1>
{% endblock TITULO %}

{% block CONTENIDO %}
<p>Hola</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.Cilindro.label.tag }} {{ form.Cilindro}}
        {{ form.BodegaProveedor.label.tag}} {{ form.BodegaProveedor}}
        {{ form.BodegaPrincipal.label.tag}} {{ form.BodegaPrincipal}}
        {{ form.Cliente.label.tag}} {{ form.Cliente}}
        <button type="submit">Guardar</button>
    </form>

    <a href="{% url 'HOME:index'%}"></a>
{% endblock CONTENIDO %}

